<section class="mainbar" id="ss-dash-1">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xs-12 col-md-12 select-header">
        Super Search
        <a href="#" class="pull-right"><i class="mdi mdi-window-close"></i></a>
      </div>
    </div>

    <div class="hidden-xs row" style="padding: 0;">
      <div class="col-xs-3 col-md-3 dash-header-left text-center"><span>Get Started</span></div>
      <div class="col-xs-9 col-md-9 dash-header-right">
        <div class="col-xs-8 col-md-8 pull-left">
          <p>Cupcake ipsum dolor sit amet carrot cake fruitcake cookie. Carrot cake I love gummi bears dragée jelly-o sugar plum. Bonbon I love dessert icing donut wafer gummies bonbon. Cake danish croissant bonbon cotton candy cake.</p>
        </div>
        <div class="col-xs-4 col-md-4 pull-right">
           <button class="message" ng-click="vm.createCampaign()">Create Job Campaign</button>
        </div>
      </div>

    </div>



    <div class="visible-xs row mini-ss-head">
      <div class="col-xs-12"><p><span class="bold">Get Started!</span> Cupcake ipsum dolor sit amet carrot cake fruitcake cookie. Carrot cake I love gummi bears dragée jelly-o sugar plum. Bonbon I love dessert icing donut wafer gummies bonbon. Cake danish croissant bonbon cotton candy cake.</p></div>

      <div class="col-xs-12">
        <button class="message" style="width: 100%;">Create Job Campaign</button>
      </div>


    </div>

    <div class="row" style="margin-left:40px; margin-top: 30px;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".inv-out">inventory run out</button>

      <div class="modal fade inv-out" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content m-modal modal-border-ssd">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-message">
              <p class="text-center"> <i class="mdi mdi-alert-circle mdi-48px blue-txt"></i></p>
              <h3>Your license is still active, but your inventory has run out.</h3>
              <p>Cupcake ipsum dolor sit amet caramels cotton candy I love brownie. </p>
              <h4 class="purple-txt">Call 1.800.000.0000 to buy more.</h4>
            </div>
          </div>
        </div>
      </div>



      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".inv-low">inventory low</button>

      <div class="modal fade inv-low" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content m-modal modal-border-ssd">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div class="modal-message">
             <p class="text-center"> <i class="mdi mdi-alert-circle mdi-48px blue-txt"></i></p>
              <h3>Your inventory is getting low.</h3>
              <p>Your inventory is below 5000....Cupcake ipsum dolor sit amet caramels cotton candy I love brownie. Powder cookie cake gummi bears.  </p>
              <h4 class="purple-txt">Call 1.800.000.0000 to buy more.</h4>
            </div>
          </div>
        </div>
      </div>


    </div>


<div class="container">

    <div class="row">

      <div class="hidden-xs col-sm-1 col-md-1">
        <div class="left-arrow"><i class="mdi mdi-chevron-left mdi-48px" aria-hidden="true"></i></div>
      </div>


      <div class="col-xs-12 col-sm-10 col-md-10">

        <div class="row" style="margin-top: 30px;">

          <div class="col-xs-12 col-md-12"><h4>My Job Campaigns</h4></div>







          <div class="col-xs-12 col-sm-6 col-md-3" style="padding-left: 10px; padding-right: 10px;">

            <div class="visible-xs col-xs-1 pull-left">
              <div class="left-arrow-ss"><i class="mdi mdi-chevron-left mdi-48px" aria-hidden="true"></i></div>
            </div>
            <div class="visible-xs col-xs-1 pull-right">
              <div class="right-arrow-ss"><i class="mdi mdi-chevron-right mdi-48px" aria-hidden="true"></i></div>
            </div>
            <div class="visible-xs col-xs-9">
              <div class="s-card">
                <div class="ss-head">
                  <h4>Software Engineer</h4>
                  <p>Created 10 days ago</p>
                </div>
                <img src="../../images/198.png" class="center-block"/>
                <hr class="card-hr">
                <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>

              </div>
            </div>


            <div class="hidden-xs s-card">
              <div class="ss-head">
                <h4>Software Engineer</h4>
                <p>Created 10 days ago</p>
              </div>
              <img src="../../images/198.png" alt="" class="center-block">
              <hr class="card-hr">
              <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>
            </div>
          </div> <!-- end col-xs-12 -->

          <div class="hidden-xs col-sm-6 col-md-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="s-card">
              <div class="ss-head">
                <h4>Software Engineer</h4>
                <p>Created 10 days ago</p>
              </div>
              <img src="../../images/198.png" alt="" class="center-block">
              <hr class="card-hr">
              <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>

            </div>
          </div>
          <div class="hidden-xs col-sm-6 col-md-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="s-card">
              <div class="ss-head">
                <h4>Software Engineer</h4>
                <p>Created 10 days ago</p>
              </div>
              <img src="../../images/198.png" alt="" class="center-block">
              <hr class="card-hr">
              <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>

            </div>
          </div>
          <div class="hidden-xs col-sm-6 col-md-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="s-card">
              <div class="ss-head">
                <h4>Software Engineer</h4>
                <p>Created 10 days ago</p>
              </div>
              <img src="../../images/198.png" alt="" class="center-block">
              <hr class="card-hr">
              <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>

            </div>
          </div>

        </div> <!-- end row -->



        <div class="hidden-xs hidden-sm row" style="margin-top: 15px;">
          <div class="col-sm-6 col-md-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="s-card">
              <div class="ss-head">
                <h4>Software Engineer</h4>
                <p>Created 10 days ago</p>
              </div>
              <img src="../../images/198.png" alt="" class="center-block">
              <hr class="card-hr">
              <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>

            </div>
          </div>

          <div class="col-sm-6 col-md-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="s-card">
              <div class="ss-head">
                <h4>Software Engineer</h4>
                <p>Created 10 days ago</p>
              </div>
              <img src="../../images/198.png" alt="" class="center-block">
              <hr class="card-hr">
              <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>

            </div>
          </div>

          <div class="col-sm-6 col-md-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="s-card">
              <div class="ss-head">
                <h4>Software Engineer</h4>
                <p>Created 10 days ago</p>
              </div>
              <img src="../../images/198.png" alt="" class="center-block">
              <hr class="card-hr">
              <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>

            </div>
          </div>

          <div class="col-sm-6 col-md-3" style="padding-left: 10px; padding-right: 10px;">
            <div class="s-card">
              <div class="ss-head">
                <h4>Software Engineer</h4>
                <p>Created 10 days ago</p>
              </div>
              <img src="../../images/198.png" alt="" class="center-block">
              <hr class="card-hr">
              <button class="experience" data-toggle="modal" data-target="#myModal">View Campaign Details</button>

            </div>
          </div>
        </div> <!-- end row -->

        <div class="row" style="margin-top: 20px;">
          <!--<div class="hidden-xs col-md-7 text-right"><a href="#" class="back">View All Job Campaigns</a> </div>-->
          <div class="hidden-xs col-md-4  pull-right">
            <ul class="nav-pagination text-right">
              <li><a href="#!"><i class="mdi mdi-chevron-double-left pag-double"></i></a></li>
              <li><a href="#!"><i class="mdi mdi-chevron-left"></i></a></li>
              <li class="active"><a href="#!" class="pag-active">1</a></li>
              <li><a href="#!">2</a></li>
              <li><a href="#!">3</a></li>
              <li><a href="#!">4</a></li>
              <li><a href="#!">5</a></li>
              <li><a href="#!"><i class="mdi mdi-chevron-right"></i></a></li>
              <li><a href="#!"><i class="mdi mdi-chevron-double-right pag-double"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="row hidden-xs" style="margin-top: 20px;">
          <hr class="hr-color">
          <div class="col-md-3 pull-right">
            <button class="message pull-right" ng-click="vm.createCampaign()">Create Job Campaign</button>
          </div>
        </div>


      </div>
      <div class="hidden-xs col-sm-1 col-md-1 pull-right">
        <div class="right-arrow"><i class="mdi mdi-chevron-right mdi-48px" aria-hidden="true"></i></div>
      </div>
    </div>

</div> <!--end container-->


  </div> <!-- end container-fluid -->
</section>


<script>
  $('div#follow-Label-3').on('click', function () {
    $('#follow-up-3').toggle();
  });
  $('div#follow-Label-1').on('click', function () {
    $('#follow-up-1').toggle();
  });
  $('div#follow-Label-2').on('click', function () {
    $('#follow-up-2').toggle();
  });
</script>
