<section class="mainbar" id="create-message">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 select-header">
        <div class="col-xs-10 col-md-10">
        Message Candidates <span>for Director of Engineering</span>
          </div>
        <div class="col-xs-1 col-md-1 pull-right">
          <a href="#"><i class="mdi mdi-window-close"></i></a>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="row spacing" style="margin-top: 0;">
      <div class="row" style="margin: 20px 0;">
        <div class="hidden-xs col-sm-12 col-md-12">
          <div class="nav-progress">

            <div class="progress-step">
              <span class="nav-progress-text progress-complete-txt">Campaign Settings</span>
              <span class="progress-done"></span>
            </div>


            <div class="bar-extend">
              <span class="nav-progress-bar-complete"></span>
            </div>


            <div class="progress-step">
              <span class="nav-progress-text progress-complete-txt">Manage Candidates</span>
              <span class="progress-done"></span>
            </div>

            <div class="bar-extend">
              <span class="nav-progress-bar-complete"></span>
            </div>

            <div class="progress-step">
              <span class="nav-progress-text progress-complete-txt">Message Candidates</span>
              <span class="progress-done"></span>
            </div>

            <div class="bar-extend">
              <span class="nav-progress-bar-waiting"></span>
            </div>

            <div class="progress-step">
              <span class="nav-progress-text progress-waiting-txt">Launch Campaign</span>
              <span class="progress-waiting"></span>
            </div>


          </div>


        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6" style="margin-bottom: 20px;">
        <div class="col-xs-10 col-sm-10 col-md-11" style="padding-left: 0;">
        <div class="dropdown">
          <label>Create New Letter or Select Template</label>
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left">Template 1</span>
            <span class="pull-right mdi mdi-chevron-down"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
          </ul>
        </div>
          </div>
        <div class="col-xs-2 col-sm-2 col-md-1">
        <i class="mdi mdi-delete-forever pull-right mess-delete"></i>
          </div>

        <div class="col-xs-12 col-sm-12 col-md-12" style="padding-left: 0; margin-top: 20px;">
          <label>Subject Line</label>
          <input type="text" class="form-control" placeholder="Enter Subect Line">
          </div>
        </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="bold"><input type="checkbox" class="checkbox check-space"> Save Message as Template</p>
          <input type="text" class="form-control" placeholder="Enter Template Name">

        </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
      </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-12 col-sm-4 col-md-4" style="padding-left: 0;">
        <p><input type="checkbox" class="checkbox check-space"> Candidates Can View Job</p>
      </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-12 col-sm-4 col-md-4" style="padding-left: 0;">
        <input type="text" placeholder="Enter Job Description URL" class="form-control">
      </div>
        </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="message-follow clearfix" id="follow-Label-1">
          <p class="pull-left">5 Day Follow-Up</p>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
          <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
        </div>
        <div id="follow-up-1" class="space-top">
          <div class="dropdown space-bottom">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pull-left">Create New Letter</span>
              <span class="pull-right mdi mdi-chevron-down"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
            </ul>
          </div>
          <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
          <div class="textarea space-bottom">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
          </div>
          <p class="space-bottom"><input type="checkbox" class="checkbox"> Save message as Template</p>
        </div>

        <div class="message-follow clearfix" id="follow-Label-2">
          <p class="pull-left">10 Day Follow-Up</p>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
          <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
        </div>
        <div id="follow-up-2" class="space-top">
          <div class="dropdown space-bottom">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pull-left">Create New Letter</span>
              <span class="pull-right mdi mdi-chevron-down"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
            </ul>
          </div>
          <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
          <div class="textarea space-bottom">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
          </div>
          <p><input type="checkbox" class="checkbox"> Save message as Template</p>
        </div>

      </div>
      </div>

    <div class="row spacing hidden-xs" style="margin-top: 40px; padding-bottom: 30px;">
      <div class="col-md-3 pull-left">

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".c-delete">delete</button>

        <div class="modal fade c-delete" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content m-modal modal-border-ssd">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="modal-message">
                <p>Are you  sure you want to delete this template?</p>
                <div class="clearfix text-right">
                  <a href="#" class="move-modal-link">Cancel</a><button class="modal-btn-inverse" style="width: 40%;">Delete</button>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-4 pull-right">

        <a href="#" class="back">Back</a> <button class="message pull-right" ng-click="vm.viewCampaign()">Next</button>

      </div>
    </div>

    </div>

<div class="row visible-xs">
      <div class="col-xs-12 candidate-row-bottom">
        <p class="pull-left"><span class="glyphicon glyphicon-menu-left"></span>Back</p>
        <ul class="pagination">
          <li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <p class="pull-right">Send <span class="glyphicon glyphicon-menu-right"></span></p>
      </div>
    </div>
  </div>
  </div>

</section>


<script>
  $('div#follow-Label-1').on('click', function () {
      $('#follow-up-1').toggle();
  });
  $('div#follow-Label-2').on('click', function () {
    $('#follow-up-2').toggle();
  });
</script>
