<section id="create-message" class="mainbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 select-header">Message Candidates</div>
    </div>
    <div class="row spacing">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="dropdown">
          <label>Create New Letter or Select Template</label>
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left">Template 1</span>
            <span class="pull-right caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
          </ul>
        </div>
        <div class="candidate-row">
        <div class="form-group has-error has-feedback">
          <label class="control-label" for="inputError2">Subject Line</label>
          <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span id="inputError2Status" class="sr-only">(error)</span>
        </div>
          </div>
        </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <p><input type="checkbox" class="checkbox check-space"> Save Message as Template</p>
        <div class="form-group has-success has-feedback">
          <input type="text" class="form-control" id="inputSuccess2" aria-describedby="inputSuccess2Status" placeholder="Enter Template Name">
          <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
          <span id="inputSuccess2Status" class="sr-only">(success)</span>
        </div>

        </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
      </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="dropdown">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left">Run Campaign Everyday Until</span>
            <span class="pull-right caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
          </ul>
        </div>
        <div class="candidate-row">
          <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
        </div>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="dropdown">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left">Candidates Can View Job</span>
            <span class="pull-right caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
          </ul>
        </div>
        <div class="candidate-row">
        <input type="text" placeholder="Enter Job Description URL" class="subject-line">
          </div>
      </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="message-follow clearfix" id="follow-Label-1">
          <p class="pull-left">5 Day Follow-Up</p>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
          <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
        </div>
        <div id="follow-up-1" class="space-top">
          <div class="dropdown space-bottom">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pull-left">Create New Letter</span>
              <span class="pull-right caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
            </ul>
          </div>
          <input type="text" placeholder="Enter Subject Line" class="space-bottom">
          <div class="textarea space-bottom">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
          </div>
          <p class="space-bottom"><input type="checkbox" class="checkbox"> Save message as Template</p>
        </div>

        <div class="message-follow clearfix" id="follow-Label-2">
          <p class="pull-left">10 Day Follow-Up</p>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
          <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
        </div>
        <div id="follow-up-2" class="space-top">
          <div class="dropdown space-bottom">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pull-left">Create New Letter</span>
              <span class="pull-right caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
            </ul>
          </div>
          <input type="text" placeholder="Enter Subject Line" class="space-bottom">
          <div class="textarea space-bottom">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
          </div>
          <p><input type="checkbox" class="checkbox"> Save message as Template</p>
        </div>

      </div>
      </div>

    <div class="row spacing hidden-xs" style="margin-top: 40px; padding-bottom: 30px;">
      <div class="col-md-3 pull-right">
        <a href="#" class="back">Go back</a> <button class="message pull-right">Next</button>
      </div>
    </div>

<div class="row visible-xs">
      <div class="col-xs-12 candidate-row-bottom">
        <p class="pull-left"><span class="glyphicon glyphicon-menu-left"></span>Back</p>
        <ul class="pagination">
          <li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <p class="pull-right">Send <span class="glyphicon glyphicon-menu-right"></span></p>
      </div>
    </div>
    </div>
  </div>
</section>

<script>
  $('div#follow-Label-1').on('click', function () {
      $('#follow-up-1').toggle();
  });
  $('div#follow-Label-2').on('click', function () {
    $('#follow-up-2').toggle();
  });
</script>
