<section class="mainbar" id="create-message">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 select-header">
        Message Candidates <span style="font-size: 12px;">for Director of Engineering</span>
        <a href="#" class="pull-right"><i class="mdi mdi-window-close"></i></a>
      </div>
    </div>
    <div class="row spacing">
      <div class="hidden-xs col-md-12" style="padding: 20px 0;">
        <?xml version="1.0" encoding="utf-8"?>
        <!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 881 61" style="enable-background:new 0 0 881 61;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#00AFF0;}
  .st1{font-family:'Roboto-Regular';}
  .st2{font-size:18px;}
  .st3{filter:url(#filter-2);}
  .st4{fill:#FFFFFF;stroke:#BDBDBD;}
  .st5{filter:url(#filter-4);}
  .st6{filter:url(#filter-6);}
  .st7{fill:none;stroke:#00AFF0;stroke-linecap:square;}
</style>
<filter  filterUnits="objectBoundingBox" height="200%" id="filter-6" width="200%" x="-50%" y="-50%">
	<feMorphology  in="SourceAlpha" operator="dilate" radius="0.5" result="shadowSpreadOuter1"></feMorphology>
	<feOffset  dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
	<feGaussianBlur  in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2"></feGaussianBlur>
	<feComposite  in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>

		<feColorMatrix  in="shadowBlurOuter1" type="matrix" values="0 0 0 0 0.768069728   0 0 0 0 0.768069728   0 0 0 0 0.768069728  0 0 0 0.5 0">
		</feColorMatrix>
</filter>
<filter  filterUnits="objectBoundingBox" height="200%" id="filter-4" width="200%" x="-50%" y="-50%">
	<feMorphology  in="SourceAlpha" operator="dilate" radius="0.5" result="shadowSpreadOuter1"></feMorphology>
	<feOffset  dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
	<feGaussianBlur  in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2"></feGaussianBlur>
	<feComposite  in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>

		<feColorMatrix  in="shadowBlurOuter1" type="matrix" values="0 0 0 0 0.768069728   0 0 0 0 0.768069728   0 0 0 0 0.768069728  0 0 0 0.5 0">
		</feColorMatrix>
</filter>
<filter  filterUnits="objectBoundingBox" height="200%" id="filter-2" width="200%" x="-50%" y="-50%">
	<feMorphology  in="SourceAlpha" operator="dilate" radius="0.5" result="shadowSpreadOuter1"></feMorphology>
	<feOffset  dx="0" dy="2" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
	<feGaussianBlur  in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="2"></feGaussianBlur>
	<feComposite  in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1"></feComposite>

		<feColorMatrix  in="shadowBlurOuter1" type="matrix" values="0 0 0 0 0.768069728   0 0 0 0 0.768069728   0 0 0 0 0.768069728  0 0 0 0.5 0">
		</feColorMatrix>
</filter>
<title>Group 3</title>
<desc>Created with Sketch.</desc>
<g id="Page-1">
	<g id="Artboard" transform="translate(-378.000000, -338.000000)">
		<g id="Group-13" transform="translate(377.000000, 146.000000)">
			<g id="Group-3" transform="translate(0.000000, 187.000000)">
				<text transform="matrix(1 0 0 1 0 19)" class="st0 st1 st2">Campaign Settings</text>
				<text transform="matrix(1 0 0 1 364 19)" class="st0 st1 st2">Manage Candidates</text>
				<text transform="matrix(1 0 0 1 713 19)" class="st0 st1 st2">Message Candidates</text>
				<g id="Group-Copy" transform="translate(62.000000, 41.000000)">
					<g id="Oval-4">
						<g class="st3">
							<circle cx="9" cy="9" r="9"/>
						</g>
						<g>
							<circle id="path-1_1_" class="st4" cx="9" cy="9" r="9"/>
						</g>
					</g>
					<circle id="Oval-1-Copy-2" class="st0" cx="9" cy="9" r="4"/>
				</g>
				<g id="Group-Copy-2" transform="translate(428.000000, 39.000000)">
					<g id="Oval-4_1_">
						<g class="st5">
							<circle cx="9" cy="9" r="9"/>
						</g>
						<g>
							<circle id="path-3_1_" class="st4" cx="9" cy="9" r="9"/>
						</g>
					</g>
					<circle id="Oval-1-Copy-2_1_" class="st0" cx="9" cy="9" r="4"/>
				</g>
				<g id="Group-Copy-4" transform="translate(800.000000, 38.000000)">
					<g id="Oval-4_2_">
						<g class="st6">
							<circle cx="9" cy="9" r="9"/>
						</g>
						<g>
							<circle id="path-5_1_" class="st4" cx="9" cy="9" r="9"/>
						</g>
					</g>
					<circle id="Oval-1-Copy-2_2_" class="st0" cx="9" cy="9" r="4"/>
				</g>
				<path id="Line-Copy" class="st7" d="M84.5,50.5h331"/>
				<path id="Line-Copy-2" class="st7" d="M459.5,49.5h331"/>
			</g>
		</g>
	</g>
</g>
</svg>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="dropdown">
          <label>Create New Letter or Select Template</label>
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left">Template 1</span>
            <span class="pull-right caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
          </ul>
        </div>
        <div class="candidate-row">
          <label>Subject Line</label>
          <input type="text" class="form-control">

          </div>
        </div>

      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="bold"><input type="checkbox" class="checkbox check-space"> Save Message as Template</p>
          <input type="text" class="form-control" placeholder="Enter Template Name">

        </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
      </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <p><input type="checkbox" class="checkbox check-space"> Candidates Can View Job</p>
      </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <input type="text" placeholder="Enter Job Description URL" class="form-control">
      </div>
        </div>
      </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="message-follow clearfix" id="follow-Label-1">
          <p class="pull-left">5 Day Follow-Up</p>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
          <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
        </div>
        <div id="follow-up-1" class="space-top">
          <div class="dropdown space-bottom">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pull-left">Create New Letter</span>
              <span class="pull-right caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
            </ul>
          </div>
          <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
          <div class="textarea space-bottom">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
          </div>
          <p class="space-bottom"><input type="checkbox" class="checkbox"> Save message as Template</p>
        </div>

        <div class="message-follow clearfix" id="follow-Label-2">
          <p class="pull-left">10 Day Follow-Up</p>
          <span class="glyphicon glyphicon-menu-right pull-right"></span>
          <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
        </div>
        <div id="follow-up-2" class="space-top">
          <div class="dropdown space-bottom">
            <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="pull-left">Create New Letter</span>
              <span class="pull-right caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
              <li><a href="#">Select Item</a> </li>
            </ul>
          </div>
          <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
          <div class="textarea space-bottom">
            <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
          </div>
          <p><input type="checkbox" class="checkbox"> Save message as Template</p>
        </div>

      </div>
      </div>

    <div class="row spacing hidden-xs" style="margin-top: 40px; padding-bottom: 30px;">
      <div class="col-md-3 pull-right">

        <a href="#" class="back">Back</a> <button class="message pull-right" ng-click="vm.viewCampaign()">Next</button>

      </div>
    </div>

<div class="row visible-xs">
      <div class="col-xs-12 candidate-row-bottom">
        <p class="pull-left"><span class="glyphicon glyphicon-menu-left"></span>Back</p>
        <ul class="pagination">
          <li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <p class="pull-right">Send <span class="glyphicon glyphicon-menu-right"></span></p>
      </div>
    </div>
    </div>
  </div>
</section>


<script>
  $('div#follow-Label-1').on('click', function () {
      $('#follow-up-1').toggle();
  });
  $('div#follow-Label-2').on('click', function () {
    $('#follow-up-2').toggle();
  });
</script>
