<section class="mainbar" id="campaignSettings">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 select-header">Campaign Setting</div>
    </div>
    <div class="row spacing">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="candidate-row">
        <div class="form-group has-error has-feedback">
          <label>Job Campaign Name</label>
          <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status" placeholder="Enter Job Campaign Name">
          <span style="font-size: 10px;" class="text-danger">Field needs to be completed</span>
        </div>
      </div>
      <div class="clearfix candidate-row">
        <p class="pull-left bold" style="margin-right: 10px;">Auto-Message Candidates</p>
        <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
      </div>
      <div class="candidate-row">
        <p>When auto-message is on, all <span class="bold">"Matched"</span> candidates will receive your custom message. Select your <span class="bold">"Favorites"</span> to prioritize who will receive your message first. </p>
      </div>
      <div class="candidate-row">
        <label class="candidate-label">Everyday Until</label>
        <div layout-gt-xs="row">
          <div flex-gt-xs>
            <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
          </div>
        </div>
      </div>
      <div class="candidate-row">
        <label class="candidate-label">Maximum daily sends</label>
        <md-slider-container>
          <md-slider md-discrete ng-model="bass" min="0" max="100" step="10" aria-label="bass" class="md-primary"></md-slider>
          </md-slider>
        </md-slider-container>
      </div>
      <div class="candidate-row">
        <label class="candidate-label">Exclude Messaging to Candidates:</label>
        <div class="dropdown">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left">Dropdown trigger</span>
            <span class="pull-right caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="candidate-row">
        <label class="candidate-label">Search Engine</label>
        <div class="dropdown">
          <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left">Dropdown trigger</span>
            <span class="pull-right caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
            <li><a href="#">Select Item</a> </li>
          </ul>
        </div>
      </div>
      <div class="candidate-row">
        <label>Search Defaults</label>
        <p><input type="checkbox" class="checkbox check-space"> Limit to job seekers authorized to work in the specified locations</p>
        <p><input type="checkbox" class="checkbox check-space"> Limit results to job seekers who are willing to relocate</p>
        <p><input type="checkbox" class="checkbox check-space"> Include veteran candidates only</p>
        <p><input type="checkbox" class="checkbox check-space"> Include private candidates</p>
      </div>
    </div>

    </div>












    <div class="row spacing hidden-xs" style="margin-top: 40px; padding-bottom: 30px;">
      <div class="col-md-3 pull-right">
        <a href="#" class="back">Go back</a> <button class="message pull-right">Save and Continue</button>
      </div>
    </div>

    <div class="row visible-xs">
      <div class="col-xs-12 candidate-row-bottom">
        <p class="pull-left"><span class="glyphicon glyphicon-menu-left"></span>Back</p>
        <ul class="pagination text-center">
          <li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
          <li><a href="#"></a></li>
        </ul>
        <p class="pull-right">Next <span class="glyphicon glyphicon-menu-right"></span></p>
      </div>
    </div>
  </div>
</section>
