@import url('//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&.css');

@color_lightblue: #52b9e9;
@color_blue: #1171a3;
@color_success: #43c83c;
@color_warning: #f88529;
@color_important: #fa3031;
@color_violet: #932ab6;

@m-green: #46c054;
@m-blue: #00aff0;
@m-purple: #642891;
@m-orange: #ff9430;
@white: #fff;


* {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

ht-top-nav.ng-isolate-scope nav.navbar.navbar-fixed-top.navbar-inverse{
  display: none !important;
}
.navbar * {
  display: none !important;
  background-image: none !important;
  -webkit-text-shadow: none !important;
  -ms-text-shadow: none !important;
  text-shadow: none !important;
}

