<section class="mainbar" id="ss-dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 select-header">
        <div class="col-xs-10 col-md-10">
        Super Search  <span>- Director of Engineering <i class="mdi mdi-border-color"></i></span>
        </div>
          <div class="col-xs-1 col-md-1 pull-right">
          <a href="#"><i class="mdi mdi-window-close"></i></a>
        </div>
      </div>
    </div>
    <div class="container">
    <div class="row spacing">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="ss-card" style="min-height: 190px;">
          <p class="ss-header">
            <span>Summary </span>
          </p>
          <img src="../../images/circles_3All.png" class="center-block" style="max-width:100%;margin-top: 15px;"/>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="ss-card" style="min-height: 190px;">
          <p class="ss-header">
            <span>History</span>
          </p>
          <img src="../../images/Chart_Large.png" class="center-block" style="max-width:95%;margin-top: 15px;"/>

        </div>
      </div>
    </div>



    <div class="row c-spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="ss-card">
          <p class="ss-header">
            <span>Candidate Settings</span>
            <span class="pull-right"><i class="mdi mdi-border-color"></i></span>
          </p>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <p class="pull-left bold auto-mess">Auto-Message Candidates</p>
            <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 m-time-until">
            <div class="col-xs-5 col-sm-5 col-md-5">
              <span class="until">Everyday Until</span> <span class="time">7/11/2016 </span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1">
              <span class="time">|</span>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5">
              <span class="until">Max Daily Sends</span> <span class="time">1000</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix row c-spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="can-cri-card">
          <p class="ss-header">
            <span>Manage Candidates</span>
            <span class="pull-right"><i class="mdi mdi-border-color"></i></span>
          </p>
          <div class="col-xs-12 col-sm-12 col-md-12 criteria-content">
            <div class="col-md-12"><h5 class="crit-head">Candidate Search Criteria</h5></div>
            <div class="col-xs-12 col-sm-6 col-md-3 crit-list-section">
              <h6 class="crit-title">Job Title</h6>
              <ul class="crit-list">
                <li>Senior Engineering Associate</li>
                <li>Senior Chemical Engineer</li>
                <li>Engineering Associate</li>
                <li>Senior Environmental Engineer</li>
                <li>Engineer</li>
                <li>Senior Engineer</li>
                <li>Junior Engineer</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 crit-list-section">
              <h6 class="crit-title">Skill</h6>
              <ul class="crit-list">
                <li>JavaScript</li>
                <li>Angular</li>
                <li>HTML</li>
                <li>Machine Validation</li>
                <li>Pearl</li>
                <li>Project Management</li>
                <li>Process Management</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 crit-list-section">
              <h6 class="crit-title">Location</h6>
              <ul class="crit-list">
                <li>Boston</li>
                <li>South Boston</li>
                <li>Brighton</li>
                <li>Within 30 miles of 02127</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 crit-list-section">
              <h6 class="crit-title">Language</h6>
              <ul class="crit-list">
                <li>French</li>
                <li>Spanish</li>
                <li>Dutch</li>
                <li>German</li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-12 criteria-content">
            <div class="col-xs-12 col-sm-6 col-md-3 crit-list-section">
              <h6 class="crit-title">Maximum Salary</h6>
              <ul class="crit-list">
                <li>100,000 USD per year</li>
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 crit-list-section">
              <h6 class="crit-title">Minimum Education</h6>
              <ul class="crit-list">
                <li>Bachelors Degree</li>
              </ul>
            </div>
          </div>



      </div>
</div>

    </div>

      <div class="col-xs-12 col-sm-12 col-md-12 crit-sm-section">
        <div class="col-xs-offset-2 col-xs-4 col-sm-offset-2 col-sm-4 col-md-offset-2 col-md-4 col-lg-offset-3 col-lg-3 matched-crit-sm text-center" style="padding-left: 0;">
          <p><i class="mdi mdi-account-star mdi-36px hidden-xs"></i><span class="crit-num">38</span><span class="crit-text">Matched</span></p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 selected-crit-sm text-center" style="padding-right: 0;">
          <p> <i class="mdi mdi-account-multiple mdi-36px hidden-xs"></i><span class="crit-num">38</span><span class="crit-text">Selected</span></p>
        </div>
      </div>

      <!--option 1-->
      <!-- <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-offset-3 col-xs-6  col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4 matched-crit-sm-solo text-center" style="padding-left: 0;">
          <p><i class="mdi mdi-account-star mdi-36px hidden-xs"></i><span class="crit-num">38</span><span class="crit-text">Matched</span></p>
        </div>
      </div>
-->

      <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 30px;">
        <div class="matched-crit-section">

          <div class="hidden-xs col-sm-1 col-md-1">
            <div class="left-arrow-m"><i class="mdi mdi-chevron-left mdi-48px" aria-hidden="true"></i></div>
          </div>

          <div class="col-xs-12 col-sm-10 col-md-10">

            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="visible-xs col-xs-1 pull-left">
                <div class="left-arrow-xs"><i class="mdi mdi-chevron-left mdi-48px" aria-hidden="true"></i></div>
              </div>
              <div class="visible-xs col-xs-1 pull-right">
                <div class="right-arrow-xs"><i class="mdi mdi-chevron-right mdi-48px" aria-hidden="true"></i></div>
              </div>
              <div class="c-card">
                <div class="c-card-content">
                  <h4>Dean Winchester</h4>
                  <p>Braintree, MA</p>
                  <p>Director of Engineering, Apple, Boston University, Bachelor of Engineering</p>
                  <p class="bottom-space"><span class="bold">Resume Updated:</span>  10 days ago</p>
                  <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                </div>
                <div class="icon-row"><div class="icons"><a href="#"><i class="mdi mdi-thumb-up mdi-24px"></i> </a></div><div class="icons"><a href="#"><i class="mdi mdi-download mdi-24px"></i></a> </div><div class="icons"><a href="#"><i class="mdi mdi-file-send mdi-24px"></i> </a></div><div class="icons dropdown"><button class="circle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                  <ul class="dropdown-menu dropdown-menu-r" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Message Candidate</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Skip Candidate</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Block from all campaigns</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Add Note</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Move to Folder</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Assign to another Campaign</a></li>
                  </ul>
                </div></div>
                <hr class="card-hr">
                <button class="experience" data-toggle="modal" data-target="#myModal">See Experience</button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="col-xs-4 col-sm-4 col-md-4 name-mheader">
                          <h1>Laura Hart</h1>
                          <h4>Boston, MA</h4>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 ex-mheader">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close mdi-16px"></i></span></button>
                          <div class="m-header-content">
                            <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                            <p class="bottom-space"><span class="bold">Resume Updated:</span>  10 days ago</p>
                            <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                            <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <div class="res-arrow-left"><i class="mdi mdi-chevron-left mdi-48px"></i></div>
                        <div class="resume-experience">
                          <h4>Experience</h4>
                          <hr>
                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h4 class="space">Education</h4>
                          <hr>
                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>

                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>
                        </div>
                        <div class="res-arrow-right"><i class="mdi mdi-chevron-right mdi-48px"></i></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close mdi-16px"></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="hidden-xs col-xs-12 col-sm-6 col-md-4">
              <div class="c-card">
                <div class="c-card-content">
                  <h4>Claire Holt</h4>
                  <p>Quincy, MA</p>
                  <p>Director of Engineering, West Elm, Boston College, Bachelor of Engineering</p>
                  <p class="bottom-space"><span class="bold">Resume Updated:</span>  20 days ago</p>
                  <p class="bottom-space"><span class="bold">Experience:</span> 10 years</p>
                </div>
                <div class="icon-row"><div class="icons"><a href="#"><i class="mdi mdi-thumb-up mdi-24px"></i> </a></div><div class="icons"><a href="#"><i class="mdi mdi-download mdi-24px"></i></a> </div><div class="icons"><a href="#"><i class="mdi mdi-file-send mdi-24px"></i> </a></div><div class="icons dropdown"><button class="circle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                  <ul class="dropdown-menu dropdown-menu-r" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Message Candidate</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Skip Candidate</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Block from all campaigns</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Add Note</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Move to Folder</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Assign to another Campaign</a></li>
                  </ul>
                </div></div>
                <hr class="card-hr">
                <button class="experience" data-toggle="modal" data-target="#myModal">See Experience</button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="col-xs-4 col-sm-4 col-md-4 name-mheader">
                          <h1>Laura Hart</h1>
                          <h4>Boston, MA</h4>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 ex-mheader">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close mdi-16px"></i></span></button>
                          <div class="m-header-content">
                            <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                            <p class="bottom-space"><span class="bold">Resume Updated:</span>  10 days ago</p>
                            <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                            <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <div class="res-arrow-left"><i class="mdi mdi-chevron-left mdi-48px"></i></div>
                        <div class="resume-experience">
                          <h4>Experience</h4>
                          <hr>
                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h4 class="space">Education</h4>
                          <hr>
                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>

                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>
                        </div>
                        <div class="res-arrow-right"><i class="mdi mdi-chevron-right mdi-48px"></i></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close mdi-16px"></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="hidden-xs hidden-sm col-xs-12 col-sm-6 col-md-4">
              <div class="c-card">
                <div class="c-card-content">
                  <h4>Jackie Brown</h4>
                  <p>Randolph, MA</p>
                  <p>Director of Engineering, Tech Corp, NYU, Bachelor of Engineering</p>
                  <p class="bottom-space"><span class="bold">Resume Updated:</span>  30 days ago</p>
                  <p class="bottom-space"><span class="bold">Experience:</span> 20 years</p>
                </div>
                <div class="icon-row"><div class="icons"><a href="#"><i class="mdi mdi-thumb-up mdi-24px"></i> </a></div><div class="icons"><a href="#"><i class="mdi mdi-download mdi-24px"></i></a> </div><div class="icons"><a href="#"><i class="mdi mdi-file-send mdi-24px"></i> </a></div><div class="icons dropdown"><button class="circle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                  <ul class="dropdown-menu dropdown-menu-r" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Message Candidate</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Skip Candidate</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Block from all campaigns</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Add Note</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Move to Folder</a></li>
                    <li role="separator" class="li-divider"></li>
                    <li><a href="#">Assign to another Campaign</a></li>
                  </ul>
                </div></div>
                <hr class="card-hr">
                <button class="experience" data-toggle="modal" data-target="#myModal">See Experience</button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="col-xs-4 col-sm-4 col-md-4 name-mheader">
                          <h1>Laura Hart</h1>
                          <h4>Boston, MA</h4>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 ex-mheader">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close mdi-16px"></i></span></button>
                          <div class="m-header-content">
                            <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                            <p class="bottom-space"><span class="bold">Resume Updated:</span>  10 days ago</p>
                            <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                            <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <div class="res-arrow-left"><i class="mdi mdi-chevron-left mdi-48px"></i></div>
                        <div class="resume-experience">
                          <h4>Experience</h4>
                          <hr>
                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h4 class="space">Education</h4>
                          <hr>
                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>

                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>
                        </div>
                        <div class="res-arrow-right"><i class="mdi mdi-chevron-right mdi-48px"></i></div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="mdi mdi-close mdi-16px"></i></span></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </div> <!-- end col-md-10 -->


          <div class="hidden-xs col-sm-1 col-md-1 pull-right">
            <div class="right-arrow-m"><i class="mdi mdi-chevron-right mdi-48px" aria-hidden="true"></i></div>
          </div>




        </div>

      </div>  <!--  ending tags for matched crit -->




    <div class="row c-spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <p class="ss-header">
          <span>Messages</span>
          <span class="pull-right"><i class="mdi mdi-border-color"></i></span>
        </p>
        <div class="followup-content">
          <div class="message-follow clearfix" id="follow-Label-3">
            <p class="pull-left">Initial Message</p>
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
          </div>
          <div id="follow-up-3" class="space-top">
            <div class="dropdown space-bottom">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pull-left placeholder">Create New Letter</span>
                <span class="pull-right mdi mdi-chevron-down"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
              </ul>
            </div>
            <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
            <div class="textarea space-bottom">
              <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            </div>
            <p class="space-bottom"><input type="checkbox" class="checkbox"> Save message as Template</p>
          </div>



          <div class="message-follow clearfix" id="follow-Label-1">
            <p class="pull-left">5 Day Follow Up</p>
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
            <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
          </div>
          <div id="follow-up-1" class="space-top">
            <div class="dropdown space-bottom">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pull-left placeholder">Create New Letter</span>
                <span class="pull-right mdi mdi-chevron-down"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
              </ul>
            </div>
            <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
            <div class="textarea space-bottom">
              <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            </div>
            <p class="space-bottom"><input type="checkbox" class="checkbox"> Save message as Template</p>
          </div>

          <div class="message-follow clearfix" id="follow-Label-2">
            <p class="pull-left">10 Day Follow Up</p>
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
            <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
          </div>
          <div id="follow-up-2" class="space-top">
            <div class="dropdown space-bottom">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pull-left placeholder">Create New Letter</span>
                <span class="pull-right mdi mdi-chevron-down"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
              </ul>
            </div>
            <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
            <div class="textarea space-bottom">
              <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            </div>
            <p><input type="checkbox" class="checkbox"> Save message as Template</p>
          </div>

        </div>

      </div>
    </div>

    <div class="row c-spacing">
      <div class="col-xs-12 col-sm-12 col-md-8 pull-right">
        <p class="pull-right" style="font-size: 12px;">Your account is presently set as a Demo Account. Note that emails to candidates will not be sent.</p>
      </div>
    </div>
    <div class="row hidden-xs" style="padding-bottom: 30px;">
      <hr class="hr-color">
      <div class="col-sm-6 col-md-5 pull-right">
        <a href="#" class="back">Back</a><button class="message pull-right">Pause Campaign</button>
      </div>
    </div>
    <div class="row spacing visible-xs" style="margin-bottom: 30px;">
      <div class="col-md-4 text-center">
        <a href="#" class="back">Back</a> <button class="launch center-block">Pause Campaign</button>
      </div>
    </div>



    </div> <!--end container-->









  </div> <!--end container-fluid-->
</section>


<script>
  $('div#follow-Label-3').on('click', function () {
    $('#follow-up-3').toggle();
  });
  $('div#follow-Label-1').on('click', function () {
    $('#follow-up-1').toggle();
  });
  $('div#follow-Label-2').on('click', function () {
    $('#follow-up-2').toggle();
  });
</script>
