<section class="mainbar" id="ss-dashboard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-12 select-header">
        SuperSearch
        <a href="#" class="pull-right"><i class="mdi mdi-window-close"></i></a>
      </div>
    </div>
    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <h4 style="margin-bottom: 0;">Software Engineer <i class="mdi mdi-border-color"></i> </h4>
        <p><small>Created 10 days ago</small></p>
      </div>
    </div>
    <div class="row spacing">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="ss-card" style="min-height: 218px;">
          <p class="ss-header">
            <span>Summary </span>
          </p>
          <img src="../../images/circles_3All.png" class="center-block" style="max-width:100%;margin-top: 15px;"/>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="ss-card" style="min-height: 218px;">
          <p class="ss-header">
            <span>History</span>
          </p>

          <svg style="max-width: 100%; max-height:174px; margin: 0 10px;" viewBox="98 -105 498 159" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 40.1 (33804) - http://www.bohemiancoding.com/sketch -->
            <desc>Created with Sketch.</desc>
            <defs>
              <rect id="path-1" x="0" y="0" width="471" height="93"></rect>
            </defs>
            <g id="Group-2" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(98.000000, -105.000000)">
              <g id="HistoryGraph_2">
                <g id="Page-1">
                  <g id="Group-4">
                    <g id="Group-3">
                      <g id="Group">
                        <g id="Group-2" transform="translate(0.000000, 116.000000)">
                          <rect id="Rectangle" fill="#00AFF0" x="0" y="5" width="164.19216" height="37.4453125"></rect>
                          <rect id="Rectangle" fill="#80A74D" x="166.80512" y="5" width="164.19216" height="37.4453125"></rect>
                          <rect id="Rectangle" fill="#D87F00" x="333" y="5" width="164.19216" height="37.4453125"></rect>
                          <rect id="Rectangle-2" fill="#00AFF0" transform="translate(43.050781, 9.388672) rotate(45.000000) translate(-43.050781, -9.388672) " x="36.5507812" y="2.88867206" width="13" height="13"></rect>
                        </g>
                        <g id="BackgroundLines" transform="translate(1.000000, 5.000000)">
                          <rect id="Rectangle-3" fill="#4990E2" opacity="0.0893773321" x="0" y="0" width="471" height="93"></rect>
                          <path d="M0.5,86.5 L470.526581,86.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,79.5 L470.526581,79.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,72.5 L470.526581,72.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,65.5 L470.526581,65.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,57.5 L470.526581,57.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,50.5 L470.526581,50.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,43.5 L470.526581,43.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,36.5 L470.526581,36.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,29.5 L470.526581,29.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,22.5 L470.526581,22.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,14.5 L470.526581,14.5" id="Line" stroke="#E6E6E6"></path>
                          <path d="M0.5,7.5 L470.526581,7.5" id="Line" stroke="#E6E6E6"></path>
                          <g id="Rectangle-3-Clipped">
                            <mask id="mask-2" fill="white">
                              <use xlink:href="#path-1"></use>
                            </mask>
                            <g id="path-1"></g>
                            <g id="Rectangle-3" mask="url(#mask-2)" stroke="#E8E8E8" stroke-width="2">
                              <rect id="path-1" x="0" y="0" width="471" height="93"></rect>
                            </g>
                          </g>
                        </g>
                        <g id="Graphboxs" transform="translate(32.000000, 14.000000)">
                          <g id="Rectangle-4" transform="translate(0.000000, 27.000000)">
                            <g id="path-3-link" fill="#000000">
                              <rect id="path-3" x="0" y="0" width="23" height="56"></rect>
                            </g>
                            <g id="path-3-link" fill="#CACACA">
                              <rect id="path-3" x="0" y="0" width="23" height="56"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(43.000000, 0.000000)">
                            <g id="path-5-link" fill="#000000">
                              <rect id="path-5" x="0" y="0" width="23" height="83"></rect>
                            </g>
                            <g id="path-5-link" fill="#CACACA">
                              <rect id="path-5" x="0" y="0" width="23" height="83"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(88.000000, 19.000000)">
                            <g id="path-7-link" fill="#000000">
                              <rect id="path-7" x="0" y="0" width="23" height="64"></rect>
                            </g>
                            <g id="path-7-link" fill="#CACACA">
                              <rect id="path-7" x="0" y="0" width="23" height="64"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(131.000000, 45.000000)">
                            <g id="path-9-link" fill="#000000">
                              <rect id="path-9" x="0" y="0" width="23" height="38"></rect>
                            </g>
                            <g id="path-9-link" fill="#CACACA">
                              <rect id="path-9" x="0" y="0" width="23" height="38"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(176.000000, 27.000000)">
                            <g id="path-11-link" fill="#000000">
                              <rect id="path-11" x="0" y="0" width="23" height="56"></rect>
                            </g>
                            <g id="path-11-link" fill="#CACACA">
                              <rect id="path-11" x="0" y="0" width="23" height="56"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(219.000000, 13.000000)">
                            <g id="path-13-link" fill="#000000">
                              <rect id="path-13" x="0" y="0" width="23" height="70"></rect>
                            </g>
                            <g id="path-13-link" fill="#CACACA">
                              <rect id="path-13" x="0" y="0" width="23" height="70"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(262.000000, 0.000000)">
                            <g id="path-15-link" fill="#000000">
                              <rect id="path-15" x="0" y="0" width="23" height="83"></rect>
                            </g>
                            <g id="path-15-link" fill="#CACACA">
                              <rect id="path-15" x="0" y="0" width="23" height="83"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(305.000000, 27.000000)">
                            <g id="path-17-link" fill="#000000">
                              <rect id="path-17" x="0" y="0" width="23" height="56"></rect>
                            </g>
                            <g id="path-17-link" fill="#CACACA">
                              <rect id="path-17" x="0" y="0" width="23" height="56"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(348.000000, 40.000000)">
                            <g id="path-19-link" fill="#000000">
                              <rect id="path-19" x="0" y="0" width="23" height="43"></rect>
                            </g>
                            <g id="path-19-link" fill="#CACACA">
                              <rect id="path-19" x="0" y="0" width="23" height="43"></rect>
                            </g>
                          </g>
                          <g id="Rectangle-4" transform="translate(391.000000, 27.000000)">
                            <g id="path-21-link" fill="#000000">
                              <rect id="path-21" x="0" y="0" width="23" height="56"></rect>
                            </g>
                            <g id="path-21-link" fill="#CACACA">
                              <rect id="path-21" x="0" y="0" width="23" height="56"></rect>
                            </g>
                          </g>
                        </g>
                        <g id="text" transform="translate(31.000000, 0.000000)" font-weight="300" font-family="Roboto-Light, Roboto">
                          <g id="00-00-00-00-00-00" transform="translate(453.000000, 0.000000)" font-size="10.5" fill="#212121">
                            <text id="00">
                              <tspan x="0.612705" y="11">00</tspan>
                            </text>
                            <text id="00">
                              <tspan x="0.612705" y="28">00</tspan>
                            </text>
                            <text id="00">
                              <tspan x="0.612705" y="45">00</tspan>
                            </text>
                            <text id="00">
                              <tspan x="0.612705" y="62">00</tspan>
                            </text>
                            <text id="00">
                              <tspan x="0.612705" y="79">00</tspan>
                            </text>
                            <text id="00">
                              <tspan x="0.612705" y="96">00</tspan>
                            </text>
                          </g>
                          <g id="May-2-May-3-June-2-J" transform="translate(0.000000, 100.000000)" font-size="9" fill="#212121">
                            <text id="May-2-May-3-June-2-June-3-July-4-July-5-Aug-2-Aug-3-Sept-2-Sept-3">
                              <tspan x="0" y="9">May 2 May 3 June 2 June 3 July 4 July 5 Aug 2 Aug 3 Sept 2 Sept 3</tspan>
                            </text>
                          </g>
                          <g id="40" opacity="0.634328358" transform="translate(21.000000, 124.000000)" font-size="25" fill="#FFFFFF">
                            <text>
                              <tspan x="0.5" y="26">40</tspan>
                            </text>
                          </g>
                          <g id="20" opacity="0.60832556" transform="translate(205.000000, 124.000000)" font-size="25" fill="#FFFFFF">
                            <text>
                              <tspan x="0.5" y="26">20</tspan>
                            </text>
                          </g>
                          <g id="162" opacity="0.62995569" transform="translate(363.000000, 124.000000)" font-size="25" fill="#FFFFFF">
                            <text>
                              <tspan x="0" y="26">162</tspan>
                            </text>
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </svg>

        </div>
      </div>
    </div>



    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="ss-card">
          <p class="ss-header">
            <span>Candidate Settings</span>
            <span class="pull-right"><i class="mdi mdi-border-color"></i></span>
          </p>

          <div class="col-xs-12 col-sm-4 col-md-4">
            <p class="pull-left bold auto-mess">Auto-Message Candidates</p>
            <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8">
            <div class="col-xs-5 col-sm-5 col-md-5">
              <span class="until">Everyday Until</span> <span class="time">7/11/2016 </span>
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1">
              <span class="time">|</span>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-5">
              <span class="until">Max Daily Sends</span> <span class="time">1000</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="clearfix row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="ss-card">
          <p class="ss-header">
            <span>Candidate Criteria</span>
            <span class="pull-right"><i class="mdi mdi-border-color"></i></span>
          </p>
          <div class="col-xs-12 col-sm-12 col-md-12 criteria-content">
            <div class="criteria">Angular</div> <div class="criteria">Graphic Design</div> <div class="criteria">HTML</div> <div class="criteria">JavaScript</div> <div class="criteria">Temporary/Part-time</div> <div class="criteria">Angular</div> <div class="criteria">Graphic Design</div> <div class="criteria">HTML</div> <div class="criteria">JavaScript</div> <div class="criteria">Temporary/Part-time</div> <div class="criteria">Angular</div> <div class="criteria">Graphic Design</div> <div class="criteria">HTML</div> <div class="criteria">JavaScript</div> <div class="criteria">Temporary/Part-time</div> <div class="criteria">Angular</div> <div class="criteria">Graphic Design</div> <div class="criteria">HTML</div> <div class="criteria">JavaScript</div> <div class="criteria">Temporary/Part-time</div>
          </div>

        </div>
      </div>
    </div>


    <div class="clearfix row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="col-xs-6 col-sm-6 col-md-6 matched-crit text-center bd-btm" style="padding-left: 0;">
          <p><i class="mdi mdi-account-star mdi-36px hidden-xs"></i><span class="crit-num">38</span><span class="crit-text">Matched</span></p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 selected-crit text-center" style="padding-right: 0;">
          <p> <i class="mdi mdi-account-multiple-plus mdi-36px hidden-xs"></i><span class="crit-num">38</span><span class="crit-text">Selected</span></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="matched-crit-section">
          <div class="hidden-xs col-sm-1 col-md-1">
            <div class="left-arrow-m"><i class="mdi mdi-chevron-left mdi-48px" aria-hidden="true"></i></div>
          </div>

          <div class="col-xs-12 col-sm-10 col-md-10">
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="visible-xs col-xs-1 pull-left">
                <div class="left-arrow-xs"><i class="mdi mdi-chevron-left mdi-48px" aria-hidden="true"></i></div>
              </div>
              <div class="visible-xs col-xs-1 pull-right">
                <div class="right-arrow-xs"><i class="mdi mdi-chevron-right mdi-48px" aria-hidden="true"></i></div>
              </div>
              <div class="c-card">
                <h4>Laura Hart</h4>
                <p>Boston, MA</p>
                <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                <p class="bottom-space"><span class="bold">Resume Updated:</span>  02/14/2016</p>
                <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                <div class="icon-row"><div class="icons"><a href="#"><i class="mdi mdi-thumb-up mdi-24px"></i> </a></div><div class="icons"><a href="#"><i class="mdi mdi-download mdi-24px"></i></a> </div><div class="icons"><a href="#"><i class="mdi mdi-file-send mdi-24px"></i> </a></div><div class="icons dropdown"><button class="circle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                  <ul class="dropdown-menu dropdown-menu-r" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Message Candidate</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Skip Candidate</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Block from all campaigns</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Add Note</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Move to Folder</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Assign to another Campaign</a></li>
                  </ul>
                </div></div>
                <button class="experience" data-toggle="modal" data-target="#myModal">View Details</button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="col-xs-4 col-sm-4 col-md-4 name-mheader">
                          <h1>Laura Hart</h1>
                          <h4>Boston, MA</h4>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 ex-mheader">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <div class="m-header-content">
                            <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                            <p class="bottom-space"><span class="bold">Resume Updated:</span>  02/14/2016</p>
                            <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                            <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <div class="resume-experience">
                          <h4>Experience</h4>
                          <hr>
                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h4 class="space">Education</h4>
                          <hr>
                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>

                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="hidden-xs col-xs-12 col-sm-6 col-md-4">
              <div class="c-card">
                <h4>Laura Hart</h4>
                <p>Boston, MA</p>
                <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                <p class="bottom-space"><span class="bold">Resume Updated:</span>  02/14/2016</p>
                <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                <div class="icon-row"><div class="icons"><a href="#"><i class="mdi mdi-thumb-up mdi-24px"></i> </a></div><div class="icons"><a href="#"><i class="mdi mdi-download mdi-24px"></i></a> </div><div class="icons"><a href="#"><i class="mdi mdi-file-send mdi-24px"></i> </a></div><div class="icons dropdown"><button class="circle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                  <ul class="dropdown-menu dropdown-menu-r" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Message Candidate</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Skip Candidate</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Block from all campaigns</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Add Note</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Move to Folder</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Assign to another Campaign</a></li>
                  </ul>
                </div></div>
                <button class="experience" data-toggle="modal" data-target="#myModal">View Details</button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="col-xs-4 col-sm-4 col-md-4 name-mheader">
                          <h1>Laura Hart</h1>
                          <h4>Boston, MA</h4>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 ex-mheader">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <div class="m-header-content">
                            <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                            <p class="bottom-space"><span class="bold">Resume Updated:</span>  02/14/2016</p>
                            <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                            <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <div class="resume-experience">
                          <h4>Experience</h4>
                          <hr>
                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h4 class="space">Education</h4>
                          <hr>
                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>

                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="hidden-xs hidden-sm col-xs-12 col-sm-6 col-md-4">
              <div class="c-card">
                <h4>Laura Hart</h4>
                <p>Boston, MA</p>
                <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                <p class="bottom-space"><span class="bold">Resume Updated:</span>  02/14/2016</p>
                <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                <div class="icon-row"><div class="icons"><a href="#"><i class="mdi mdi-thumb-up mdi-24px"></i> </a></div><div class="icons"><a href="#"><i class="mdi mdi-download mdi-24px"></i></a> </div><div class="icons"><a href="#"><i class="mdi mdi-file-send mdi-24px"></i> </a></div><div class="icons dropdown"><button class="circle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
                  <ul class="dropdown-menu dropdown-menu-r" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Message Candidate</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Skip Candidate</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Block from all campaigns</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Add Note</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Move to Folder</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Assign to another Campaign</a></li>
                  </ul>
                </div></div>
                <button class="experience" data-toggle="modal" data-target="#myModal">View Details</button>

                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <div class="col-xs-4 col-sm-4 col-md-4 name-mheader">
                          <h1>Laura Hart</h1>
                          <h4>Boston, MA</h4>
                        </div>
                        <div class="col-xs-8 col-sm-8 col-md-8 ex-mheader">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <div class="m-header-content">
                            <p>Director of Engineering, Acme Corporation, Rochester Institute, Bachelor of Engineering</p>
                            <p class="bottom-space"><span class="bold">Resume Updated:</span>  02/14/2016</p>
                            <p class="bottom-space"><span class="bold">Experience:</span> 17 years</p>
                            <p><span class="bold">Top Skills:</span> Pearl, Management Skills, Agile</p>
                          </div>
                        </div>
                      </div>
                      <div class="modal-body">
                        <div class="resume-experience">
                          <h4>Experience</h4>
                          <hr>
                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h5><span class="year">2016 - 2017</span> Director, Software Engineering</h5>
                          <h6>ACME Systems, Concord, MA</h6>
                          <p>Cupcake ipsum dolor sit amet caramels apple pie powder pie. I love pie donut sweet roll chocolate cheesecake donut tootsie roll. Topping icing cake fruitcake marzipan I love ice cream. Candy canes danish dessert wafer biscuit sweet roll bear claw. Sweet I love dessert powder halvah fruitcake sweet roll. I love gummi bears lemon drops icing biscuit. Dragée cupcake toffee cotton candy donut caramels topping. Cheesecake liquorice fruitcake marzipan marzipan. Bear claw marzipan topping icing carrot cake cheesecake ice cream lemon drops. Dessert jelly caramels candy canes oat cake sugar plum cake tiramisu. Lollipop powder gummi bears gingerbread cupcake lollipop marzipan liquorice. Jelly-o biscuit ice cream.</p>
                          <p>Brownie liquorice brownie tart dragée jelly-o tootsie roll. Liquorice ice cream biscuit. Pastry lemon drops I love cotton candy jelly beans. I love bear claw brownie sugar plum pastry. Danish danish topping I love cake I love donut apple pie marzipan. I love dragée bonbon chocolate lemon drops cake toffee. Biscuit cotton candy chocolate cake tootsie roll carrot cake. Tart bonbon I love I love dessert soufflé cheesecake. Cotton candy powder donut tart bonbon pie muffin jujubes. Carrot cake tootsie roll icing apple pie. Tiramisu gingerbread wafer I love. Chupa chups wafer chocolate cake toffee toffee sweet roll pudding fruitcake. Marshmallow dragée fruitcake cake halvah marshmallow muffin.</p>
                          <p>Chocolate cake sweet roll halvah I love I love gummies sweet roll cupcake carrot cake. Lemon drops tart chocolate cake chocolate cake apple pie wafer pie. Dragée I love donut I love cotton candy. Carrot cake cookie I love cake I love sugar plum tart cake. Chocolate bar cheesecake jelly chupa chups croissant. Caramels I love sweet roll. Sesame snaps lemon drops chupa chups cake gummi bears caramels cupcake. Jujubes jelly-o dragée tiramisu marshmallow chupa chups. Sweet toffee sesame snaps sweet roll carrot cake topping. Pudding chocolate cake tiramisu marshmallow carrot cake biscuit carrot cake marzipan chupa chups. Dessert pie donut oat cake I love marzipan. Cake macaroon chocolate macaroon jelly. Fruitcake chocolate cake macaroon oat cake.</p>

                          <h4 class="space">Education</h4>
                          <hr>
                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>

                          <h5>University of Massachusetts at Amherst</h5>
                          <p>BFA Interactive Design, Amherst, MA</p>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>


          </div>


          <div class="hidden-xs col-sm-1 col-md-1 pull-right">
            <div class="right-arrow-m"><i class="mdi mdi-chevron-right mdi-48px" aria-hidden="true"></i></div>
          </div>
          <div class="clearfix col-xs-12 col-sm-12 col-md-12 text-center">
            <a href="#" class="back">View All Candidates</a>
          </div>
        </div>
      </div>

    </div>





    <div class="clearfix row spacing">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <p class="ss-header">
          <span>Messages</span>
          <span class="pull-right"><i class="mdi mdi-border-color"></i></span>
        </p>
        <div class="followup-content">
          <div class="message-follow clearfix" id="follow-Label-3">
            <p class="pull-left">Initial Message</p>
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
          </div>
          <div id="follow-up-3" class="space-top">
            <div class="dropdown space-bottom">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pull-left">Create New Letter</span>
                <span class="pull-right caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
              </ul>
            </div>
            <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
            <div class="textarea space-bottom">
              <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            </div>
            <p class="space-bottom"><input type="checkbox" class="checkbox"> Save message as Template</p>
          </div>



          <div class="message-follow clearfix" id="follow-Label-1">
            <p class="pull-left">5 Day Follow-Up</p>
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
            <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
          </div>
          <div id="follow-up-1" class="space-top">
            <div class="dropdown space-bottom">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pull-left">Create New Letter</span>
                <span class="pull-right caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
              </ul>
            </div>
            <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
            <div class="textarea space-bottom">
              <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            </div>
            <p class="space-bottom"><input type="checkbox" class="checkbox"> Save message as Template</p>
          </div>

          <div class="message-follow clearfix" id="follow-Label-2">
            <p class="pull-left">10 Day Follow-Up</p>
            <span class="glyphicon glyphicon-menu-right pull-right"></span>
            <md-switch class="md-primary switch" md-no-ink aria-label="Switch No Ink" ng-model="data.cb5"></md-switch>
          </div>
          <div id="follow-up-2" class="space-top">
            <div class="dropdown space-bottom">
              <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="pull-left">Create New Letter</span>
                <span class="pull-right caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
                <li><a href="#">Select Item</a> </li>
              </ul>
            </div>
            <input type="text" placeholder="Enter Subject Line" class="form-control space-bottom">
            <div class="textarea space-bottom">
              <textarea ui-tinymce="tinymceOptions" ng-model="tinymceModel"></textarea>
            </div>
            <p><input type="checkbox" class="checkbox"> Save message as Template</p>
          </div>

        </div>

      </div>
    </div>

    <div class="row spacing">
      <div class="col-xs-12 col-sm-12 col-md-7 pull-right">
        <p class="pull-right" style="font-size: 12px;">Your account is presently set as a Demo Account. Note that emails to candidates will not be sent.</p>
      </div>
    </div>
    <div class="row spacing hidden-xs" style="margin-top: 40px; padding-bottom: 30px;">
      <hr class="hr-color">
      <div class="col-md-4 pull-right">
        <a href="#" class="back">Save as Draft</a><button class="message pull-right">Launch Campaign</button>
      </div>
    </div>
    <div class="row spacing visible-xs" style="margin-bottom: 30px;">
      <div class="col-md-4 text-center">
        <a href="#" class="back">Save as Draft</a> <button class="launch center-block">Launch Campaign</button>
      </div>
    </div>













  </div> <!--end container-fluid-->
</section>


<script>
  $('div#follow-Label-3').on('click', function () {
    $('#follow-up-3').toggle();
  });
  $('div#follow-Label-1').on('click', function () {
    $('#follow-up-1').toggle();
  });
  $('div#follow-Label-2').on('click', function () {
    $('#follow-up-2').toggle();
  });
</script>
<link href="https://cdn.materialdesignicons.com/1.7.12/css/materialdesignicons.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
